{% extends 'base.html' %}

{% block title %}Marvy Shopmarket | Welcome {% endblock %}

{% block content %}
        <div id="welcome">
        <!-- <div class="logo_loading" id="logo_loading">
            <img src="{{url_for('static',filename='images/logo_marvy.png')}}" width="20%" alt="logo Marvy Shopmarket" class="imagen">
        </div> -->
            <!-- <div class="text_loading" id="text_loading">
                <div class="loader">
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                <div class="loader-square"></div>
                </div>
            </div> -->
            <div id="text_loading">
                <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                <dotlottie-player src="https://lottie.host/242846cc-0d14-4654-81c7-c6f5400849cf/WikY7OmM01.json" background="transparent" speed="1" style="width: 50%; height: 50%;" loop autoplay></dotlottie-player> -->
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                <dotlottie-player src="https://lottie.host/c177faf0-f14c-438e-8faa-0dd05e825796/AkqWN3OuLT.json" background="transparent" speed="1" style="width: 300px; height: 300px; color: white;" loop autoplay></dotlottie-player>
            </div>
            <div class="text-welcome" id="text-welcome">
                <h1>Bienvenid@ a Marvy Shopmarket</h1>
                <p>Tu gestor de tienda online</p>
            </div>
        </div>
        <script>
        
        const titulo = document.getElementById('text-welcome');
        const loader = document.getElementById('text_loading');
        setTimeout(function() {
           titulo.style.display="flex";
           loader.style.display="none"
        }, 3500);
        setTimeout(function() {
            window.location.href = "/login";
        }, 5500);
    
        // let contador = 0;
        // const mensaje = document.getElementById('cargando')
        // function actualizarMensaje() {
        //     mensaje.innerText = "Cargando" + ".".repeat(contador % 4); // Repetir puntos (.) hasta 4 y luego reiniciar
        //     contador++;
        // }
        // document.addEventListener('DOMContentLoaded', function() {
        //     intervalID = setInterval(actualizarMensaje, 500);
        //     mensaje.innerText = "Cargando"; // Mostrar "Cargando" inicialmente
        // });
        </script>
    </div>
    
{% endblock %}
