{% extends 'base.html' %}
{% block title %}Marvy Shopmarket | Ajustes generales {% endblock %}
{% block content %}

<div class="title"><h2>Ajustes Generales</h2></div>
<div class="contenedor">
    <div class="botones-generales">
        <div><form action="" method="GET"></form><button>Almacenamiento</button></form></div>
        <div><form action="" method="GET"></form><button>Notificaciones</button></form></div>
        <div><form action="" method="GET"></form><button>Idima</button></form></div>
        <div><form action="" method="GET"></form><button>Acerca De</button></form></div>

    </div>
    <div class="botones-secundario">
        <div class="botom-generar">
            <div><form action="" method="GET"><button>Generar</button></form></div>
        </div>
        
        <div class="botom-salir">
            <div><form action="" method="GET"><button>Cancelar</button></form></div>
    </div>

</div>


{% endblock %}