{% extends 'base.html' %}
{% block title %}Marvy Shopmarket | Registro de Proveedores{% endblock %}
{% block content %}

{% if estado == 0 %}
    <p style="color: red" class="mensaje">{{ mensaje }}</p>
{% elif estado == 1 %}
    <p style="color: rgb(111, 255, 0)" class="mensaje">{{ mensaje }}</p>
{% endif %}

<div class="title">
    <h1>Registro de Proveedores</h1>
</div>

<div class="formulario">
    <form method="post" action="/proveedores" enctype="multipart/form-data" id="form-suministro">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>ID:</label>
                        <div><input type="text" placeholder="ID" name="id-proveedor"></div>
                    </td>

                    <td>
                        <label>Nombre:</label>
                        <div><input type="text" placeholder="Nombre" name="nombre-proveedor"></div>
                    </td>

                    <td>
                        <label>Ubicación:</label>
                        <div><input type="text" placeholder="Ubicación" name="ubicacion-proveedor"></div>
                    </td>

                    <td>
                        <label>Contacto:</label>
                        <div><input type="text" placeholder="Teléfono" name="telefono-proveedor"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="botom-confirmar">
            <button type="submit">Confirmar</button> <!-- Corrección de tipo de botón -->
        </div>
    </form>
</div>
<div>
    <a href="/home"><button>Atrás</button></a>
</div>
<!-- Mostrar información de proveedores -->
<div class="proveedores-info">
    <h2>Lista de proveedores</h2>
        <table>
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td>ID: {{ proveedor.prov_Id }}</td>
                    <td>Nombre: {{ proveedor.prov_Nombre }}</td>
                    <td>Ubicación: {{ proveedor.prov_Ubicacion }}</td>
                    <td>Contacto: {{ proveedor.prov_Contacto }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
   
</div>



{% endblock %}