{% extends 'base.html' %}

{% block title %}Marvy Shopmarket | Registrarse {% endblock %}

{% block content %}
    <div id="mensajeDiv2" style=" text-align: center; position: absolute;"></div>
        <div id="container_login" class="container_login">
            <div id="header_login" class="header">
                <div class="logo"><img class="logo" id="logo" src="./images/Marvy_Shopmarket.png" alt=""></div>
            </div>
            <div id="login" class="login">
                <div class="title" id="title_login"><h2>Iniciar sesión</h2></div>
                <form id="form_login" method="post" action="/pagina-principal">
                    <div class="usuario-login" id="usuario_login">
                        <label for="user">Usuario</label>
                        <input type="text" name="user" id="user" placeholder="Escribe tu nombre de usuario...">
                    </div>
                    <div class="contra-login" id="contra_login">
                        <label for="user">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Escribe tu contraseña...">
                    </div>
                    <div class="botons-login" id="botons_login">
                        <button type="submit" name="btnSubmit_login" class="btnSubmit-login" id="btnSubmit_login">Iniciar sesión</button> 
                    </div>
                </form>
                <form  id="submit_SingUp" action="/signUp" method="post">
                    <button id="btn_SingUp" tyoe="submit" class="btnSingUp-login" name="btnSingUp_login" id="btnSingUp_login">Registrarse</button>
                </form>
            </div>
        </div>
{% endblock %}