{% extends 'base.html' %}

{% block title %}Marvy Shopmarket | Home {% endblock %}

{% block content %}
    <div id="container-home">

        <div class="menu">
            <div><button id="menu-hamburguesa"><i class="fa-solid fa-bars" style="font-size: 2rem; cursor:pointer;"></i></button></div>
        </div>
        <div class="menu-desplegable" id="menu-desplegable">
            <div class="menu-desplegable-content">
                <div><button class="cerrar" style="background: none; border-radius: 50%; border: none;"><i class="fa-solid fa-circle-xmark" style="font-size: 2.5rem; color: var(--negro); cursor: pointer"></i></button></div>
                <div class="imagen_perfil_content">
                    <div class="imagen_perfil">
                        <div><img src="data:image/png;base64,{{ informacion_tienda.imagen }}" width="50%" alt="Imagen de la Tienda"></div>
                    </div>
                </div>
                <div><h2>{{informacion_tienda.nombre}}</h2></div>
                <div class="listado">
                    <div>
                        <ul>
                            <li><p><i class="fa-solid fa-file" ></i> Generar Informe</p></li>
                            <li><p><i class="fa-solid fa-cash-register"></i>Ver Historial De Ventas</p></li>
                            <a href="historial-productos"><li><i class="fa-solid fa-shop"></i> Inventario de productos</li></a>
                            <a href="registro-tendero"><li><i class="fa-solid fa-user"></i> Registrar tendero</li></a>
                            <li><i class="fa-solid fa-address-book"></i> Libreta de proveedores</li>
                            <li><i class="fa-solid fa-gear"></i> Ajuste</li>
                        </ul>
                    </div>
                    <div class="boton-salir">
                        <div><form action="/cerrar-sesion" method="GET"><button style="color: var(--blanco)"><div>Cerrar sesión</div><i class="fa-solid fa-door-open btn-principal"></i></button></form></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buscador">
            <div><input type="search" placeholder="buscar...">   <i class="fa-solid fa-search" style="cursor: pointer;"></i></div>
        </div>
    
        <div class="titulo">
            <div><h1>{{ informacion_tienda.nombre }}</h1></div>
        </div>
        <div><p>{{informacion_tienda.ubicacion}}</p></div>
        <!-- <div class="nombre-img">
            <div class="imagen-perfil">
                <img src="data:image/png;base64,{{ informacion_tienda.imagen }}" width="50%" alt="Imagen de la Tienda">
            </div>            
            <div><h3>{{informacion_tienda.nombre}}</h3></div>
        </div> -->
    
        <div class="botom">
            <div style=" border-radius: 10px; height: auto; display: flex; align-items: center; justify-content: center;flex-direction: column; background: var(--claro-secundario-3)">
                <div><form action="/registro-ventas" method="GET"><button>Registrar venta</button></form></div>
                <div><img src="{{ url_for('static', filename='images/personal.png') }}" style="width: 150px;"></div>
            </div>
            <div style=" border-radius: 10px; height: auto;display: flex; align-items: center; justify-content: center;flex-direction: column;background: var(--claro-secundario-3)">
                <div><form action="/registro-suministro" method="GET"><button>Registrar suministro</button></form></div>
                <div><img src="{{ url_for('static', filename='images/suministro.png') }}" style="width: 150px;"></div>
            </div>
            <div style=" border-radius: 10px; height: auto;display: flex; align-items: center; justify-content: center; flex-direction: column;background: var(--claro-secundario-3)">
                <div><form action="/registro-producto" method="GET"><button>Registrar nuevo producto</button></form></div>
                <div><img src="{{ url_for('static', filename='images/estar.png') }}" style="width: 150px;"></div>
            </div>
            
        </div>
        
        <!-- <div class="totales">
            <div>
                <h4>Total De Venta:</h4>
                <p>$_______</p>
            </div>
            <div>
                <h4>Total De Gastos:</h4>
                <p>$_______</p>
            </div>
            <div>
                <h4>Total De Neto:</h4>
                <p>$_______</p>
            </div>
        </div> -->
    </div>

{% endblock %}
