{% extends 'base.html' %}
{% block title %}Marvy Shopmarket | Registrar suministro {% endblock %}
{% block content %}
{% if estado == 0 %}
    <p style="color: red" class="mensaje">{{ mensaje }}</p>
    <script> 
        function redirigirDespuesDeTiempo() {
            setTimeout(function() {
                window.location.href = "{{ url_for('/suministros') }}";
            }, 3500); 
        }
        redirigirDespuesDeTiempo()
    </script>
{% elif estado == 1 %}
    <p style="color: rgb(111, 255, 0)" id="mensaje" class="mensaje">{{ mensaje }}</p>
    
    <script>
        function redirigirDespuesDeTiempo() {
            setTimeout(function() {
                window.location.href = "{{ url_for('/suministros') }}";
            }, 2000);   
        }
        redirigirDespuesDeTiempo()
    </script>
{% else %}
<p id="mensaje"></p>
<div class="title">
    <h1>Registro de Suministro</h1>
</div>
{% endif %}
<div class="formulario">
    <form method="post" action="/suministros" enctype="multipart/form-data" id="form-suministro">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>Id factura: </label>
                        <div><input placeholder="#" id="id-suministro" name="idregistro-suministro"></div>
                    </td>
                    <td>
                        <label>Id: </label>
                        <div><input placeholder="Id producto" id="id-producto-suministro" class="id-producto-suministro" name="id-producto-suministro"></div>
                    </td>
                    <td>
                        <label>Cantidad: </label>
                        <div><input type="number" placeholder="Cantidad" name="cantidad-producto-suministro" id="cantidad-producto-suministro"></div>
                    </td>
                    <td>
                        <label>Fecha: </label>
                        <div><input type="date" placeholder="fecha" id="fecha-producto-suministro" name="fecha-producto-suministro"></div>
                    </td>
                    <td>
                        <label>Metodo de pago: </label>
                        <div><input type="text" placeholder="Metodo de pago" id="metodo-pago-suministro" name="metodo-pago-suministro"></div>
                    </td>
                    <td>
                        <label>Total: </label>
                        <div><input type="number" placeholder="Total" name="total-producto-suministro" id="total-producto-suministro"></div>
                    </td>
                    <td>
                        <label>Tienda id: </label>
                        <div> <input type="number" placeholder="Tienda id" name="tienda_id-producto-suministro" id="tienda_id-producto-suministro"> </div> 
                    </td>

                    <td>
                        <div class="botones-secundarios">
                            <button type="submit" class="btn-submit" style="background: none; border: none; cursor: pointer;"><i class="fa-solid fa-floppy-disk" style="color: green; font-size: 1.3rem;"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<!-- Mostrar información de suministros -->
<div class="suministros-info" style="grid-column: 1/-1;">
    <h2>Lista de Suministros</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Método de pago</th>
                <th>Total</th>
                <th>Tienda ID</th>

                <th  width="20">Editar/Eliminar</th></a>
            </tr>
        </thead>

        <tbody>
            {% for suministro in suministros %}
            <tr>
                <td>{{ suministro.sum_Id }}</td>
                <td>{{ suministro.sum_Cantidad }}</td>
                <td>{{ suministro.sum_Datetime }}</td>
                <td>{{ suministro.sum_Metodo_pago }}</td>
                <td>{{ suministro.sum_Total }}</td>
                <td>{{ suministro.tienda_Id }}</td>

                <td>
                    <a href="/editar-suministros/{{suministro.sum_Id }}" style="color: var(--claro-principal); cursor: pointer" class="editar-suministros"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
                
            {% endfor %}
        </tbody>
    </table>
</div>
<div style="grid-row: -1; grid-column: 2">
    <form action="/home" method="GET" >
        <input style="width: 100%;" type="submit" value="Atrás">
    </form>
</div>
{% endblock %}