{% extends 'base.html' %}
{% block title %}Marvy Shopmarket | Registrar ventas {% endblock %}
{% block content %}
<div class="logo" id="logo">
    <div><img src="{{ url_for('static', filename='images/logo_marvy.png') }}" class="imagen" alt="icono tienda"></div>
</div>
<div class="registro" id="registro-ventas">
    <div class="title">
        <h1>Registro de Venta</h1>
    </div>
    {%if estado == 0%}
        <p style="color: red" id="mensaje" class="mensaje">{{mensaje}}</p>
        <script> 
            function redirigirDespuesDeTiempo() {
            setTimeout(function() {
                window.location.href = "{{ url_for('main.registro_producto') }}";
            }, 3500); 
            }
        redirigirDespuesDeTiempo()
        </script>
    {%elif estado ==1%}
        <p style="color: rgb(111, 255, 0)" id="mensaje" class="mensaje">{{mensaje}}</p>
        
        <script>
            
            function redirigirDespuesDeTiempo() {
            setTimeout(function() {
                window.location.href = "{{ url_for('main.historial_productos') }}";
            }, 2000);   
            }
        redirigirDespuesDeTiempo()
        </script>
    {%else%}
        <p id="mensaje"></p>
    {%endif%}
    <div class="formulario">
        <form method="post" action="/registro-ventas" enctype="multipart/form-data" id="form-ventas">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label>Id factura: </label>
                            <div><input placeholder="#" id="id-venta" name="id-registro-venta"></div>
                        </td>
                        <td>
                            <label>Id: </label>
                            <div><input placeholder="Id producto" id="id-producto-venta" class="id-producto-venta"></div>
                        </td>
                        <td>
                            <label>Nombre: </label>
                            <div><input placeholder="Nombre del producto" id="nombre-producto-venta" name="nombre-producto-venta"></div>
                        </td>
                        <td>
                            <label>Precio: </label>
                            <div>$ <input type="number" placeholder="Precio del producto" id="precio-producto-venta" name="precio-producto-venta"></div>
                        </td>
                        <td>
                            <label>Cantidad: </label>
                            <div><input type="number" placeholder="Cantidad del producto" name="cantidad-producto-vendido" id="cantidad-producto-vendido"></div>
                        </td>
                        <td>
                            <div class="botones-secundarios">
                                <button type="submit" class="btn-submit" style="background: none; border: none; cursor: pointer;"><i class="fa-solid fa-floppy-disk" style="color: green; font-size: 1.3rem;"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <form action="/pagina-principal" method="GET">
            <button>Cancelar</button>
        </form>
    </div>
</div>

{% endblock %}