{% extends 'base.html' %}
{% block title %}Marvy Shopmarket | Registrar ventas {% endblock %}
{% block content %}
{% if estado==1 %}

<div class="mensaje" style="display: flex;">
    <p class="mensaje-content" style="color: var(--btn-claro-continuar);">{{mensaje}}<br><img src="{{ url_for('static', filename='images/comprobado.png') }}" alt="comprobado" width=30%></p>
    
</div>        
<script>
    // const mensajes = document.getElementsByClassName('mensaje');

    function redirigirDespuesDeTiempo() {
        setTimeout(function() {
            window.location.href = '{{ url_for("main.ventas") }}';
        }, 2000);   
    }

    redirigirDespuesDeTiempo();
</script>
{% elif estado==0 %}
<div class="mensaje" style="display: flex;">
    <p class="mensaje-content" style="color: var(--btn-claro-cancelar);">{{mensaje}}<br><img src="{{ url_for('static', filename='images/error.png') }}" alt="comprobado" width=30%></p>
</div>
            
<script>
    // const mensajes2 = document.getElementsByClassName('mensaje');

    function redirigirDespuesDeTiempo() {
        setTimeout(function() {
            window.location.href = '{{ url_for("main.ventas") }}';
        }, 2000);   
    }

    redirigirDespuesDeTiempo();
</script>

{% else %}
<div class="mensaje">
    <p class="mensaje-content">{{mensaje}}</p>
</div>
{% endif %}
<div class="logo" id="logo">
    <div><img src="{{ url_for('static', filename='images/logo_marvy.png') }}" class="imagen" alt="icono tienda"></div>
</div>
<div class="registro" id="registro-ventas" style="margin-top: -0.5%;">
        
        <div class="title" style="display: grid; grid-template-columns: 1fr 1fr 1fr; margin-bottom: 2%;">
            <div>
                <form action="/home" method="GET">
                    <button>Cancelar</button>
                </form>
            </div>
            <h1 style="font-size: 2rem;">Registro de Venta</h1>
            <div class="go-factura" style="width: 100%; margin-top: 2%;">
                <a href="/ventas/factura_ventas"><input type="button" value="Nueva factura"></a>
            </div>
        </div>

    <div style="grid-column: 1/-1">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Id factura</th>
                    <th>Fecha y hora de factura</th>
                    <th>Precio</th>
                    <th>Método de pago</th>
                    <th  width="20">Editar</th>
                    <!-- <th  width="80">Imagen</th> -->
                   
                </tr>
    
            </thead>
            <tbody>
        
         

            </tbody>
        </table>
        <div style="padding: 2%; background-color: none; display: flex; justify-content: center; align-items: center;">
        </div>
    </div>
</div>
{% endblock %}