<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Marvy Shopmarket {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logo_marvy.png')}}">
    <script src="https://kit.fontawesome.com/8786a88843.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body>
   
   <div class="container" id="container">        
        <!-- <input type="checkbox" class="theme-checkbox" id="modo-oscuro">
        <script>
            
            const switchInput = document.getElementById('modo-oscuro');
            
            // Agrega un evento 'change' al input del checkbox
            switchInput.addEventListener('change', function() {
                // Verifica si el checkbox está marcado (checked)
                if (this.checked) {
                    // Si está marcado, agrega una clase al body para activar el modo oscuro
                    console.log("activado")
                    document.body.classList.add('dark-mode');
                } else {
                    // Si no está marcado, remueve la clase del body para desactivar el modo oscuro
                    document.body.classList.remove('dark-mode');
                }
            });
        </script> -->
        <div class="content" id="content">
            {% block content %}{% endblock %}
        </div>
   </div>
   <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>