<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Marvy Shopmarket {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://kit.fontawesome.com/8786a88843.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="hidden">
        {% block hidden %}{% endblock %}
    </div>
   <div class="container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
   </div> 
   <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>