<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Marvy Shopmarket {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/logo_marvy.png')}}">
    <script src="https://kit.fontawesome.com/8786a88843.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
</head>
<body>
    <div class="container" id="container">       
            <div class="content" id="content">
                {% block content %}{% endblock %}
            </div>
    </div>
    <footer style="grid-column: 1/-1; grid-row: -1; text-align: center; background: #027368; bottom: 0;"><p style=" padding: 2%; color: var(--blanco)">© Marvy Shopmarket</p></footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>