{% extends 'base.html' %}
{% block title %}Marvy Shopmarket | Ajustes perfil {% endblock %}
{% block content %}
{% if estado==1 %}
    <div class="mensaje" style="display: flex;">
        <p class="mensaje-content" style="color: var(--btn-claro-continuar);">{{mensaje}}<br><img src="{{ url_for('static', filename='images/comprobado.png') }}" alt="comprobado" width=30%></p>
        
    </div>        
    <script>
        function redirigirDespuesDeTiempo() {
        setTimeout(function() {
            window.location.href = "{{ url_for('main.registro_tendero') }}";
        }, 2000);   
        }
        redirigirDespuesDeTiempo()
    </script>
{% elif estado==0 %}
    <div class="mensaje" style="display: flex;">
        <p class="mensaje-content" style="color: var(--btn-claro-cancelar);">{{mensaje}}<br><img src="{{ url_for('static', filename='images/error.png') }}" alt="comprobado" width=30%></p>
    </div>
                
    <script>
        function redirigirDespuesDeTiempo() {
        setTimeout(function() {
            window.location.href = "{{ url_for('main.registro_tendero') }}";
        }, 2000);   
        }
    redirigirDespuesDeTiempo()
    </script>

{% else %}
<div class="mensaje">
    <p class="mensaje-content">Hola {{mensaje}}</p>
</div>
{% endif %}
<div class="logo" id="logo">
    <div><img src="{{ url_for('static', filename='images/logo_marvy.png') }}" class="imagen" alt="icono tienda"></div>
</div>
<div id="editar-producto">
    <h2>Editar Producto</h2>
    <div  style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center;border-radius: 50%;">
        <div><img src="data:image/png;base64,{{ imagen }}" class="imagen-producto" alt="{{ producto.prod_Nombre }}" id="imagen_producto"></div>
    </div>
    <form action="/editar-producto/{{producto.Id}}" method="POST">
            <label for="nombre-prod">Nombre: </label>
            <div>
                <input type="text" id="nombre-prod" name="nombre-prod" placeholder="{{producto.prod_Nombre}}">
            </div>
        
            <label for="precio-prod">Precio: </label>
            <div>
                <input type="text" id="precio-prod" name="precio-prod" placeholder="$ {{producto.prod_Precio}}">
            </div>
            <label for="cantidad-prod">Cantidad: </label>
            <div>
                <input type="text" id="cantidad-prod" name="cantidad-prod" placeholder="{{producto.prod_Cantidad}} unidades">
            </div>
            <label for="ganancia-prod">Ganancia: </label>
            <div>
                <input type="text" id="ganancia-prod" name="ganancia-prod" placeholder="{{producto.prod_Ganancia}} %">
            </div>
        
            <input type="submit" value="Editar producto" style="background-color: var(--btn-claro-continuar); cursor: pointer;">
    </form>
    <a href="/productos" style="width: 76%;"><button>Atrás</button></a>
</div>
<!-- <div class="registro">
    <div class="title"><h1>Registro Tendero</h1></div>
    <div class="formulario">
        <form method="post" action="nuevo_tendero">
            <div>
                <div><label for="nom-tendero">Identifación Tendero:</label></div>
                <div><input type="number" id="id-tendero" name="id-tendero"></div>
            </div>
            <div>
                <div><label for="nom-tendero">Nombre Tendero:</label></div>
                <div><input type="text" name="nom-tendero" id="nom-tendero"></div>
            </div>
            <div>
                <div><label for="correo-tendero">Correo:</label></div>
                <div><input type="email" name="correo-tendero" id="correo-tendero"></div>
            </div>
            <div>
                <div><label for="celular-tendero">Celular:</label></div>
                <div><input type="number" name="celular-tendero" id="celular-tendero"></div>
            </div>
            <div>
                <div><label for="password-tendero">Contraseña:</label></div>
                <div><input type="password" name="password-tendero" id="password-tendero"></div> -->
            
            <!-- <div>
                <div><label for="confi-contraseña">Confirmar Contraseña:</label></div>
                <div><input type="number" name="confi-contraseña"></div>
            </div> -->
            <!-- <div class="boton-confitmar">
                <button type="submit" class="btn-submit">Confirmar</button>
            </div>
        </form>
        <form action="/home" method="GET">
            <button>Cancelar</button>
        </form> 
    </div>
</div> -->
{% endblock %}