<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de productos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <div><img src="{{ url_for('static', filename='tienda.png') }}" alt="icono tienda"></div>
        </div>
        <div class="registo">
            <div class="title">
                <h1>Resgistro de Productos</h1>
            </div>
            <div class="formulario">
                <form method="post" action="/nuevo_producto" enctype="multipart/form-data">
                    <div>
                        <div><label for="prod_Id">Identificación:</label></div>
                        <div><input type="number" name="prod_Id"></div>
                    </div>
                    <div>
                        <div><label for="prod_Nombre">Nombre Producto:</label></div>
                        <div><input type="text" name="prod_Nombre"></div>
                    </div>
                    <div>
                        <div><label for="prod_Precio"> Precio:</label></div>
                        <div><input type="number" name="prod_Precio" id="prod_Precio"></div>
                    </div>
                    <div>
                        <div><label for="prod_Cantidad">Cantidad Producto:</label></div>
                        <div><input type="number" name="prod_Cantidad"></div>
                    </div>
                    <div>
                        <div><label for="prod_Fecha_cad">Fecha Caducidad:</label></div>
                        <div><input type="date" name="prod_Fecha_cad" id="prod_Fecha_cad"></div>
                    </div>
                    <div>
                        <div><label for="prod_Img">Imagen del producto</label></div>
                        <div><input type="file" name="prod_Img" id="prod_Img"></div>
                    </div>
                    <div class="boton">
                        <button type="submit" class="btn-submit">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>