<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de productos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <div><img src="{{ url_for('static', filename='tienda.png') }}" alt="icono tienda"></div>
        </div>
        <div class="registo">
            <div class="title">
                <h1>Resgistro de Productos</h1>
            </div>
            <div class="formulario">
                <form >
                    <div>
                        <div><label for="id">Identificación:</label></div>
                        <div><input type="number"></div>
                    </div>
                    <div>
                        <div><label for="nom">Nombre Producto:</label></div>
                        <div><input type="text"></div>
                    </div>
                    <div>
                        <div><label for="precio"> Precio:</label></div>
                        <div><input type="number"></div>
                    </div>
                    <div>
                        <div><label for="cantidad">Cantidad Producto:</label></div>
                        <div><input type="number"></div>
                    </div>
                    <div>
                        <div><label for="fecha-cad">Fecha Caducidad:</label></div>
                        <div><input type="date"></div>
                    </div>
                    <div class="botom">
                        <button>Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>